body
{
    margin: 0 auto;
}

.logo
{
    float: left;
    width: 250px;
}

nav
{
    background: #FFF6E5;
    padding: 16px;
    height: 59px;
}

a 
{
    color: black;
    text-decoration: none;
    padding: 25px;
    font-size: 32px;
   display: inline;
   padding-left: 20px;
   padding-top: 45px;
    
}

video
{
    width: 1260;
    height: 400px;
    text-align: center;
}
#video
{
    text-align: center;
}

.botao
{
background-color: #FF5757;
width: 207px;
height: 85px;
left: 474px;
top: 864px;
width: 408px;


font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 33px;
line-height: 75px;
color: #fff;
border: none;
margin-top: 34px;
margin-bottom: 44px;
}

footer
{
 
    background: #FFF6E5;
    padding: 16px;
    height: 80px;
    
}

table
{
    padding: 25x;
}

tr
{
    padding-top: 22px;
}

.arrodape
{
    padding-top: 23px;
}

.anterior
{
    margin-bottom: 9px;
}



.nav-list
{
    list-style: none;
    display: flex;
}

.nav-list li
{
    letter-spacing: 1px;
    margin-left: 2px;
}

.mobile-menu
{
    display: none;
    cursor: pointer;
}

.mobile-menu div
{
    width: 32px;
    height: 2px;
    background: black;
    margin: 8px
}


@media (max-width: 999px)
{
    body
    {
        overflow-x: hidden;
    }
    .nav-list
    {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #87d6c8;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translate 0.3s ease-in;
    }

    .nav-list li
    {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu
    {
        display: block;
    }

    .nav-list.active
    {
        transform: translateX(0);
    }

    video
    {
        width: 319px;
        height: 160px;
    }

.botao
{
    float: left;
    height: 7%;
    width: 20%;
    font-size: 13px;
}

  #linkrodape
  {
      flex: block;
  }

    footer
    {
        height: 220px;
        margin-top: 122px;
    }
}